html {
    height: 100%; /* Ensure the html element covers the full height */
}

body {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: lightgray;
    background-image: url("images/cash7.webp"); /* Adjusted path */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100%; /* Ensure the body element covers the full height */
    min-height: 100%; /* Ensure it covers the full viewport height */
}


header {
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center;
    color: #333;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.search-container input[type="text"]{
    padding:10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.search-container button{
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.search-result {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

table, th, td {
    border-bottom: #333 solid 1.5px;
    border-collapse: collapse;
    border-color: #333;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 25px;
    text-shadow: #333;
    text-decoration: solid;
    font-weight: bold;
  }

table {
    position: fixed;
    bottom: 88px;
  }

.coin {
    position: fixed;
    bottom: 500px;
}

.bill {
    position: fixed;
    bottom: 350px;
    margin-left: 80px;
}

.bill2 {
    position: fixed;
    bottom: 350px;
    right: 80px;
}

.currencies {
    position: fixed;
    bottom: 450px;
    margin-left: 25%;
    transform: rotate(330deg);
}

.stocks {
    position: fixed;
    bottom: 450px;
    right: 350px;
}

.coin2 {
    position: fixed;
    right: 10px;
    bottom: 500px;
}