<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Sets up the layout page by including all relevant frameworks and library -->
        <meta charset="UTF-8">
        <meta name="viewport" content="widht-device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Home</title>
        <link rel="stylesheet" href="static/style.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </head>

    <body>
        <header>
            <nav>
                {% if account %}
                    <div id="balance">Balance: ${{ account['balance'] }}</div>
                {% endif %}

                <!-- NavBar to create links to home, owned or profile -->
                <ul class="nav-links">
                    <li><a href="{{ url_for ('home') }}">Home</a></li>
                    <li><a href="{{ url_for('owned') }}">Owned</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
    <footer>
        <p>Stanley Ching &#169 2024 Finmulation. All rights reserved</p>
    </footer>
</html>