<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="widht-device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Home</title>
        <link rel="stylesheet" href="static/style.css">
    </head>

    <body>
        <header>
            <nav>
                <div class="logo">Finmulation</div>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Owned</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
    <table>
        <th>Symbols</th>
        <th>Price per unit</th>
        {% for stock in data %}
            <tr>
                <td>{{ stock.name }}</td>
                <td>{{ stock.price }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="coin">
    <img src="../static/images/coin.png", width="100", height="100">   
    <img src="../static/images/coin.png", width="100", height="100">   
    <img src="../static/images/coin.png", width="100", height="100">         
    </div>

    <div class="coin2">
        <img src="../static/images/coin.png", width="100", height="100">   
        <img src="../static/images/coin.png", width="100", height="100">   
        <img src="../static/images/coin.png", width="100", height="100">         
    </div>
    
    <div class="bill"> 
        <img src="../static/images/bill3.png", width="200", height="100">
    </div>
  
    <div class="bill2"> 
        <img src="../static/images/bill3.png", width="200", height="100">
    </div>

    <div class="currencies"> 
        <img src="../static/images/currencies.svg", width="200", height="100">
    </div>

    <div class="stocks"> 
        <img src="../static/images/stocks.webp", width="200", height="100">
    </div>
  
  
    <footer>
        <p>&#169 2024 Finmulation. All rights reserved</p>
    </footer>
</html>