{% extends "layout.html" %}

{% block body %}
<!-- Set the table to show the owned page -->
 <div class="table-container" onload="setDefaultValue()">
        <table class="owned-table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Sell Rate</th>
                <th>Profit/Loss</th>
                <th>Sell stock</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data is retrieved from '/owned' route -->
            {% for s in data %}
                <tr>
                    <td>{{ s[1] }}</td>
                    <td>{{ s[2] }}</td>
                    <td>${{ s[4] }}</td>
                    <td id="sellRate-{{ s[1] }}">${{ s[-3] }}</td>
                    <td>{{ s[-2] }} <br> {{ s[-1] }}</td>
                    <td>
                        <!-- Create buttons and quantity where each id is uniquely the stock symbol -->
                        <input type="number" id="quantity-{{ s[1] }}" name="quantity-{{ s[1] }}" min="1" max="{{ s[2] }}" value="1">
                        <button id="sell-btn-{{ s[1] }}">Sell</button>
                        <p>Total: $<span id="total-{{ s[1] }}">{{ s[-3] }}</span></p> 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 </div>   

</div>   

{% endblock %}
